:host ::ng-deep {
    .p-dropdown {
        width: 14rem;
        font-weight: normal;
    }
    .pelicula-name {
        font-size: 1.5rem;
        font-weight: 700;
        color: gray;
    }
    .pelicula-description {
        margin: 0 0 1rem 0;
    }
    .pelicula-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }
    .pelicula-category {
        font-weight: 600;
        vertical-align: middle;
    }
    .pelicula-list-item {
        display: flex;
        align-items: center;
        padding: 1rem;
        width: 100%;
        img {
            width: 150px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin-right: 2rem;
        }
        .pelicula-list-detail {
            flex: 1 1 0;
        }
        .p-rating {
            margin: 0 0 .5rem 0;
        }
        .pelicula-price {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: .5rem;
            align-self: flex-end;
        }
        .pelicula-list-action {
            display: flex;
            flex-direction: column;
        }
        .p-button {
            margin-bottom: .5rem;
        }
    }
    .pelicula-grid-item pelicula-grid-item {
        margin: .5em;
        border: 1px solid #dee2e6;
        .pelicula-grid-item-top,
        .pelicula-grid-item-bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        img {
            width: 150px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin: 2rem 0;
        }
        .pelicula-grid-item-content {
            text-align: center;
        }
        .pelicula-price {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}

.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
     :host ::ng-deep .pelicula-list-item {
        flex-direction: column;
        align-items: center;
        img {
            width: 30%;
            margin: 2rem 0;
        }
        .pelicula-list-detail {
            text-align: center;
        }
        .pelicula-price {
            align-self: center;
        }
        .pelicula-list-action {
            display: flex;
            flex-direction: column;
        }
        .pelicula-list-action {
            margin-top: 2rem;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
    }
}

.p-panel {
    width: 150px !important;
}

.pointer {
    cursor: pointer;
}

.zoom {
    padding: 1px;
    transition: transform .2s;
    /* Animation */
    width: 200px;
    height: 300px;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}