.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

#themecolors .selector {
    cursor: pointer;
}


/*
@import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";*/

.zoom {
    padding: 1px;
    transition: transform .2s;
    /* Animation */
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(4.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}